body {
  background: black;
  font: 700 1em/1 'Oswald', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
  @include user-select(none);
}

.blackness-flash, .text-container {
  align-items: center;
  display: flex;
  @include position(absolute, 0px 0px 0px 0px);
}

.text-container {
  z-index: 3;
}

.blackness-flash {
  @include animation(black-flash 10s linear both infinite);
  background: #000;
  z-index: 2;
}

.video-trigger {
  @include animation(text-crawl 40s linear both infinite);
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;

  span {
    display: block;
    font-family: 'Oswald';
    font-size: 125vh;
    position: absolute;
    text-decoration: none;
    top: -.1em;
    white-space: nowrap;

    &.flashing-text {
      @include animation(color-flash 1s linear both infinite);
      color: #000;
    }

    &.video-background {
      color: #fff;
    }
  }
}

video {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  @include position(absolute, 0px 0px 0px 0px);
  z-index: 1;

  &.active {
    opacity: 1;
  }
}
