body {
  background: black;
  font: 700 1em/1 'Oswald', sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.blackness {
  align-items: center;
  @include animation(black-flash 5s both infinite);
  background: black;
  display: flex;
  @include position(absolute, 0px 0px 0px 0px);
  z-index: 99;
}

a {
  @include animation(color-flash 1s both infinite);
  color: red;
  display: block;
  font-size: 33vh;
  height: 100%;
  letter-spacing: .05em;
  opacity: .75;
  text-align: center;
  text-decoration: none;
  @include user-select(none);
  width: 100%;
  z-index: 2;
}

span {
  display: block;
}

video {
  min-height: 100%;
  min-width: 100%;
  @include position(absolute, 0px 0px 0px 0px);
  z-index: 1;
}
