!!!
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible' }
    %meta{ :content => 'width=device-width,initial-scale=1', 'name' => 'viewport' }
    %title
      = current_page.data.title || 'Site Title'
    = stylesheet_link_tag 'application'
  %body
    = yield
    = javascript_include_tag 'application'
