@keyframes color-flash {
  0% { fill: #ca6e19 }
  20% { fill: #c56700 }
  30% { fill: #3410dd }
  35% { fill: #b14e00 }
  40% { fill: #852a00 }
  50% { fill: #ac8373 }
  60% { fill: #600905 }
  70% { fill: #c56700 }
  80% { fill: #b14e00 }
  90% { fill: #c56700 }
  100% { fill: #b14e00 }
}

@keyframes text-crawl {
  0% { transform: translateX(5%) }
  100% { transform: translateX(-100%) }
}

@keyframes black-flash {
  0% { opacity: 0 }
  9.9% { opacity: 0 }
  10% { opacity: 1 }
  11% { opacity: 1 }
  19.9% { opacity: 1 }
  20% { opacity: .3 }
  24.9% { opacity: .3 }
  25% { opacity: 1 }
  25.9% { opacity: 1 }
  26% { opacity: .1 }
  49.9% { opacity: .1 }
  50% { opacity: 1 }
  59.8% { opacity: 1 }
  59.9% { opacity: 1 }
  60% { opacity: .7 }
  79.9% { opacity: .7 }
  80% { opacity: 1 }
  89.9% { opacity: 1 }
  90% { opacity: 0 }
  99.9% { opacity: 0 }
}

body {
  background: black;
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
}

.flashing-text {
  animation: text-crawl 40s linear both infinite, color-flash 1s linear both infinite;
  display: block;
  height: 106vh;
  position: relative;
  top: -3vh;
  width: auto;
  z-index: 3;
}

.blackness-flash {
  animation: black-flash 10s linear both infinite;
  background: #000;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.video {
  bottom: 0px;
  display: none;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.active_video { display: block; }
