.text-container
  %a.video-trigger
    %span.flashing-text LOOKING FOR THIS? LOOKING FOR THIS? LOOKING FOR THIS? LOOKING FOR THIS? LOOKING FOR THIS?

.blackness-flash

%video.active{ 'src' => 'assets/eat.m4v', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/eyes.m4v', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/finger.m4v', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/mouth.m4v', 'autoplay' => 'true', 'loop' => 'true' }
%video{ 'src' => 'assets/nose.m4v', 'autoplay' => 'true', 'loop' => 'true' }
